# Streamlit Arayüzü
streamlit

# RAG Çatısı Temel Modülleri
langchain
langchain-core
langchain-community

# Google Gemini Entegrasyonu
google-genai
langchain-google-genai

# Vektör Veritabanı
chromadb
numpy 

# Veri Okuyucular
pypdf